body {
    padding: 0px;
    margin: 0px;
    background: #232323;
    font-family: sans-serif;
    color: #EEEEEE;
}
* {
    box-sizing: border-box;
}
.line {
    width: 100%;
    height: 1px;
    background: #EEEEEE;
    position: relative;
}
/* ------------------ */

.main-conteiner {
    margin: 30px auto;
    max-width: 360px;
    max-height: 640px;
    border: 1px solid #EEEEEE ;
    color: #EEEEEE;
}

/* --------- */
.values-conteiner {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.value-input_item {
    margin: 10px 0px;
    width: 200px;
    height: 30px;
    text-align: right;
    font-size: 17px;
    border: none;
    border-bottom: 1px solid #00ADB5;
    background: #232323;
    color: #EEEEEE;
}

/* ------------ */

.btn-conteiner {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.moreBtn {
    font-size: 20px;
    font-weight: normal;
    border: 2px solid #00ADB5;
    border-radius: 3px;
    background: #232323;
    color: #EEEEEE;
}
.moreBtn-active {
    background: #00ADB5 ;
    color: #000;

}
.countBtn {
    width: 150px;
    height: 30px;
    font-size: 20px;
    font-weight: normal;
    border: 2px solid #00ADB5;
    border-radius: 3px;
    background: #232323;
    color: #EEEEEE;
}

.result-conteiner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.result {
    font-size: 25px;
    max-width: 320px;
}

/* ----------------- */
button:hover {
    background: #00ADB5 ;
    color: #000;
    transition: 0.29s;
    cursor: pointer;
}
button:active {
    transition: 0.1s;
    transform: scale(0.8);
}
input:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

/* -------------- */

.more-conteiner {
    display: none;
    flex-direction: column;
    align-items: center ;
}

.display {
    display: flex;
}
